{% extends 'base.html' %}

{% block content %}

<h2>US Open Pool Standings</h2>
<h4>Combined final scores (top 6 scores out of 7 golfers)</h4>
<br/>
<table class="table table-hover table-bordered table-striped">
	<tr>
		<th>Position</th>
		<th>Team Name</th>
		<th>Total</th>
		<th>Final Score</th>
	</tr>
	{% for index,row in df_final.iterrows() %}
		<tr>
		<td>{{ row['Position'] }}</td>
		<td>{{ row['Team Name'] }}</td>
		<td>{{ row['TOT']}}</td>
		<td>{{ row['Final Score']}}</td>
		</tr>
	{% endfor %}

</table>





{% endblock %}